body {
    background-image: url("assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation {
    background-color: rgba(0, 140, 255, 0.8);
    overflow: hidden;
    border-radius: 20px;
    position: fixed;
}
.navigation a {
    color: rgb(23, 0, 44);
    float: left;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
    font-family: monospace;
}

.navigation a:hover {
    background-color: rgb(23, 0, 44);
    color: #7300ff;
}

.contents {
    padding: 20px 150px;
}

.contents p {
    font-family: cursive;
    font-size: 18px;
    color: rgb(23, 0, 44);
}

.contents h1 {
    font-family: cursive;
    font-size: 36px;
}

footer {
    background-color: rgb(23, 0, 44);
}

footer p {
    color: #7300ff;
    font-size: 26;
}

iframe {
    width: 560;
    height: 315;
}