@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Playwrite+US+Modern:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Merienda:wght@300..900&family=Pacifico&family=Playwrite+US+Modern:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --theme-purple: #7300ff;
    --theme-dark: rgb(23, 0, 44);
    --theme-dark-transparency: rgba(23, 0, 44, 0.7);
    --theme-light: rgb(167, 167, 255);
    --selection-colour: #3324ff;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navigation {
    background-color: rgba(0, 140, 255, 0.8);
    overflow: hidden;
    border-radius: 20px;
    position: fixed;
}
.navigation a {
    color: var(--theme-dark);
    float: left;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
    font-family: "Chicle";
    transition: color 0.5s ease-in-out;
}

.navigation a:hover {
    color: var(--selection-colour);
}

.contents {
    padding: 3dvh 3dvh;
    background-color: rgba(221, 240, 255, 0.4);
    border-radius: 20px;
}

.contents p {
    font-family: "Merienda";
    font-size: 18px;
    color: var(--theme-dark);
}

.contents a {
    font-family: monospace;
    font-size: 18px;
    color: rgb(0, 140, 255);
}

.contents h1 {
    font-family: monospace;
    font-size: 36px;
}

footer {
    background-color: var(--theme-dark);
    border-radius: 20px;
    padding: 15px 15px;
}

footer p {
    color: var(--theme-purple);
    font-size: 26;
    font-family: monospace;
}

iframe {
    width: 560;
    height: 315;
    align-self: center;
} /* Make a class for video iframes */

code {
    background-color: rgba(119, 163, 190, 0.5);
    border-radius: 0.25em;
    padding: 0.2em;
}

.codezone {
    background-color: var(--theme-dark-transparency);
    border-radius: 0.35em;
    white-space: pre-wrap;
    padding: 0.25em;
}

.codezone p {
    font-family: monospace;
    color: var(--theme-light);
}

#writing-zone {
    background-color: black;
    border: none;
    outline: none;
    font-size: 18;
    font-family: 'JetBrains Mono';
    width: 100%;
    height: 75%;
    border-radius: 1em;
    padding: 1em;
    color: aqua;
    resize: none;
    tab-size: 4;
}